* {
    background-color: #DDDEEC;
    box-sizing: border-box;
}

.parent {
    white-space:nowrap;
    /* display: inline-block; */
    background-color: aquamarine;


}

.child {
    display:inline-block;
    
}

.top{
    float: right;


}


.about1 {
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
    
    
}

.paragraph {

    line-height: 1.5em;
    /* width: 600px; */
    /* margin: 200px; */
    width:50%;
    margin-left: 100px;

}

aside {

    padding: 80px;
    /* position: absolute; */
 
} 

main {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 2%;
    align-items: baseline;
    justify-content: space-between;
    
}

.works {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;


    /* margin: 200px; */
    /* flex-direction: row; */
    /* align-items: center; */
    margin-left: 100px;
    /* position: relative; */

    /* top: -50px; */
    /* opacity: 0; */
    

}


.big {
    width: 100%;
}

.bigcard {
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    width: 60%;
    border-style: solid;
    border-width: 10px;
    border-color: #B0B3E7;
    /* padding: 10px; */
    flex: 1 0 0;
    margin-bottom: 2%;

    
}

.bigcard img {
    width: 100%;
}

.bigcard img:hover {
    background-color: blue;
    filter: blur(3px);
}


.boxes {
    /* display:flex; */
    /* flex-wrap: wrap; */

    /* justify-content: space-between; */
    width:100%;
    /* flex-direction: column; */
    /* align-items: center; */

}

.card {
    border-style: solid;
    border-width: 10px;
    border-color: #B0B3E7;

    /* padding: 10px; */
    flex: 1 0 0;
    width: 30%;
    /* flex-direction: row; */

}


.card img {
    width: 100%;

}

.card img:hover {
    background-color: blue;
    filter: blur(3px);
}

.Contact {
    display: flex;
    align-items:baseline;
}

.Horizontal {
    overflow: auto;
    white-space: nowrap;
    width: 50%;
    margin: 100px;
    
}

div.Horizontal a {
    display: inline-block;
    color:black;
    text-align:center;
    padding: 10px;

}

div.Horizontal a:hover{
    background-color:#B0B3E7;


}



/*WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */ 

@media screen and (max-width: 992px) {

    .card {
        width:50%; 
    }
}

@media screen and (min-width :320px) and (max-width:480px) {
    .card {
        width:30%; 
    }
}

